.cursor-pointer {
  cursor: pointer;
}

.dropdown-item {
  .nav-link {
    padding: 0.25rem 1rem;
    &.active {
      color: $white;
      background-color: $primary;
    }
  }
}
// * For Loader
.loader {
  width: 70px;
  height: 70px;
  border: 6px solid $primary;
  border-bottom-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 0.4s linear infinite;
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 5%, 88%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}
.skeleton-img {
  border-radius: 1rem;
  width: 300px;
  height: 200px;
}
