:root {
  --bs-body-font-size: 14px;
  --bs-btn-font-size: 14px;
}
body {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}
.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.main {
  margin: 2rem 0;
  // padding: 1rem 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

// * Navbar
.nav-bg {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(15, 34, 58, 0.12);
  left: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 99;
}
// * Footer
.footer {
  background-color: #fff;
  bottom: 0;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  position: -webkit-sticky;
  // position: sticky;
}

// * Login Page
.login-page,
.signup-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.password-field {
  position: relative;
  .eye-icon {
    cursor: pointer;
    position: absolute;
    right: 5%;
    top: 55%;
  }
}
// * Common Card Component
.post {
  overflow: hidden;
  .post-img-container {
    overflow: hidden;
    height: 100%;
    .post-img {
      height: 200px;
      object-fit: cover;
      transition: all 0.5s ease-in-out 0s;
      border-radius: 0.5rem;
      &:hover {
        &.post-img {
          transform: scale(1.2);
        }
      }
    }
  }
}

.image-preview {
  display: flex;
  justify-content: center;
  img {
    max-height: 300px;
    object-fit: contain;
  }
}

// * Create New Post BTN
.add-new-btn {
  position: fixed;
  bottom: 11%;
  right: 8%;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.html-content {
  margin: 1.5rem 0;
}
